<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="errors (tirList)" id="errors" class="cardBox cardError"
	 th:if="${!tir.errors.isEmpty}"
	 th:with="tir=${tirList.lastTir}">
	<!-- Affiche seulement les erreurs du dernier tir. -->
	<div th:each="error : ${tir.errors}">
		<a th:href="${'#tir' + tir.id + '-' + error.code + '-heading'}">

			<div class="t__card">
				<div>
					<div class="cardName">
				<span th:text="${error.message}">

				</span>
					</div>
				</div>
				<div class="iconBx">
					<i class="fa-solid fa-circle-exclamation"></i>
				</div>
			</div>

		</a>
	</div>
</div>

</html>