<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">



<span th:fragment="fragment-dl1-controlefichier (dl1ControleFilesContainer)" id="fragment-dl1-controlefichier">

	<div class="text-primary">
		<span>Dernier rafraichissement des données : </span>
		<span th:text="${dl1ControleFilesContainer.refreshDate}"></span>
	</div>
	<div>
		<span
			th:classappend="${dl1ControleFilesContainer.hasMissingFile ? 'suivi-migration-error' : 'suivi-migration-succes'}">
			<span>Total des fichiers trouvés pour DL1 :</span>
			<span class="fw-bold" id="dl1FilesNombre"></span>
		</span>
	</div>


	<!-- <table id="tir1-dl1-controle-fichier-table" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Direction</th>
				<th scope="col">Nombre de fichiers</th>
				<th scope="col">Fichiers manquants</th>
				<th scope="col">Précisions</th>
			</tr>
		</thead>
		<tbody id="controle-fichier-tbody">
			<tr th:each="directionRegionale, drStats : ${dl1ControleFilesContainer.dl1Files}"
				th:classappend="${directionRegionale.hasMissingFile ? 'table-danger' : ''}">
				<td th:text="${directionRegionale.code}"></td>
				<td th:text="${directionRegionale.count}"></td>
				<td>
					<div th:each="fichierManquant : ${directionRegionale.missingFiles}">
						<span class="" th:text="${fichierManquant}"></span>
					</div>
				</td>
				<td>
					<div th:each="alert : ${directionRegionale.alertsMessages}">
						<span class="" th:text="${alert}"></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table> -->
	<br/>
	<table id="dl1FilesID" class="table table-striped table-bordered" style="width:100%;margin-top: 10px;">
		<thead>
			<tr>
				<th scope="col">Direction</th>
				<th scope="col">Nombre de fichiers</th>
				<th scope="col">Fichiers manquants</th>
				<th scope="col">Précisions</th>
			</tr>
		</thead>
	</table>

	<script type="text/javascript" th:inline="javascript">
		// Initialisation du JS du fragment.
		//suivi.dl1.subscriber.initSubscribe();

		suivi.datatable.initDataTable("#tir1-dl1-controle-fichier-table");
		getDl1InfosFiles();
		const table = $('#dl1FilesID').DataTable({
			dom: "Bfrltip",
			"ajax": "/ajax/datable/dl1Files",
			columns: [
				{ data: "code" },
				{ data: "count" },
				{ data: "missingFiles" },
				{ data: "alertsMessages" },
			],
			buttons: [
				{ extend: 'excelHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'csvHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'pdfHtml5', className: 'btn btn-secondary btn-sm' },
			],
		});
		if (window.EventSource != null) {
			const eventSource = new EventSource('/flux/reactor/changements');
			eventSource.onmessage = function (event) {
				if (!event)
					eventSource.close();
				else{
					getDl1InfosFiles();
					table.ajax.reload();
				}
			};
		}
		function getDl1InfosFiles(){
			$.ajax({
				url: 'ajax/datable/dl1ControlInfo',
				success: function(data) {
					const renderFiles = `${data.filesCount} / ${data.filesTotal}`;
					const renderLogs = `${data.logCount} / ${data.logTotal}`;
					$('#dl1FilesNombre').html(renderFiles);
					// pour faire un seul call ajax on va changé le contenu du fragment-dl1-controlelogs.html
					$('#dl1LogsNombre').html(renderLogs);
				}
			});
		}
	</script>
</span>

</html>