<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:span th:fragment="fragment-dl1-volumetrie-oracle (dL1TablesVolumeContainer)" id="fragment-dl1-volumetrie-oracle">

	<div class="text-primary">
		<span>Dernier rafraichissement des données : </span>
		<span th:text="${dL1TablesVolumeContainer.refreshDate}"></span>
	</div>

	<br />

	<table id="tir1-dl1-volumetrie-oracle" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Table</th>
				<th scope="col">Nombre d'entrées attendues</th>
				<th scope="col">Nombre d'entrées Oracle</th>
				<th scope="col">Écart</th>
				<th scope="col">Précision</th>
				<th scope="col">Statut</th>
				<th scope="col">Logs</th>
			</tr>
		</thead>
		<tbody id="controle-fichier-tbody">
			<tr th:each="logInfos, logInfosStats : ${dL1TablesVolumeContainer.volume}"
				th:classappend="${logInfos.value.volumeLog != logInfos.value.volumeOracle ? 'table-danger' : ''}">
				<td th:text="${logInfos.key}"></td>
				<td>
					<span
						th:text="${#numbers.formatDecimal(logInfos.value.volumeLog, 0, 'WHITESPACE', 0, 'COMMA')}"></span>
					<button type="button" class="btn btn-primary float-end" title="Voir les logs concernant la table"
						th:onclick="suivi.dl1.volumetrie.openModal([[${logInfos.key}]])"
						data-bs-target="#tir1-dl1-volumetrie-oracle--logs-modals">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-eyeglasses" viewBox="0 0 16 16">
							<path
								d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z">
							</path>
						</svg>
					</button>
					<button type="button" class="btn btn-primary float-end me-1" title="Voir les logs brutes"
						th:onclick="suivi.dl1.volumetrie.openModalAll([[${logInfos.key}]])"
						data-bs-target="#tir1-dl1-volumetrie-oracle--logs-modals">
						<i class="ri-code-s-line"></i>
					</button>
				</td>
				<td>
					<span
						th:text="${#numbers.formatDecimal(logInfos.value.volumeOracle, 0, 'WHITESPACE', 0, 'COMMA')}"></span>
				</td>
				<td
					th:text="${#numbers.formatDecimal(logInfos.value.volumeLog - logInfos.value.volumeOracle, 0, 'WHITESPACE', 0, 'COMMA')}">
				</td>

				<td>
					<div th:each="alert : ${logInfos.value.alertsMessages}">
						<span class="" th:text="${alert}"></span>
					</div>
				</td>

				<td th:if="${logInfos.value.volumeLog == logInfos.value.volumeOracle}">OK</td>
				<td th:unless="${logInfos.value.volumeLog == logInfos.value.volumeOracle}">KO</td>
				<td style="text-align: center;">
					<button type="button" class="btn btn-primary"
						th:onclick="suivi.dl1.volumetrie.openModalOracle([[${logInfos.key}]])"
						data-bs-target="#tir1-dl1-volumetrie-oracle--logs-modals">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-eyeglasses" viewBox="0 0 16 16">
							<path
								d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z">
							</path>
						</svg>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="tir1-dl1-volumetrie-oracle--logs-modals" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		// Initialisation du JS du fragment.
		suivi.datatable.initDataTable("#tir1-dl1-volumetrie-oracle");
	</script>
</th:span>

</html>