<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Modal d'affichage des logs. -->
<th:span th:fragment="fragment-dl1-volumetrie-logs"
	id="fragment-dl1-volumetrie-logs">

	<div class="modal fade" id="tir1-dl1-volumetrie-oracle-logs-modal"
		tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Affichage des logs pour <span th:if="${tableName != null}"
							th:text="${tableName}"></span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div th:each="log, logStats : ${logs}">
						<span th:text="${log.fileName}" style="background-color: greenyellow"></span><br>
						<textarea th:text="${log.content}" th:id="${'log-viewer-' + logStats.index}"></textarea>
						<script type="text/javascript" th:inline="javascript">
							suivi.codemirror[[${logStats.index}]] = CodeMirror.fromTextArea(document.getElementById('log-viewer-' + [[${logStats.index}]]), {
						        readOnly: true,
						        mode: "shell",
						        styleActiveLine: true,
						        theme: "3024-day",
						        lineNumbers: true,
						        autoRefresh: true,
					   		});
						</script>			
					</div>
					<div th:if="${#lists.isEmpty(logs)}">
						Aucun fichier trouvé pour <span th:text="${tableName}"></span>.
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
			// Initialisation du JS du fragment.
			
					
	</script>
</th:span>

</html>