<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:span th:fragment="fragment-dl1-controlelogs (dl1ControleLogsContainer)" id="fragment-dl1-controlelogs">

	<div class="text-primary">
		<span>Dernier rafraichissement des données : </span>
		<span th:text="${dl1ControleLogsContainer.refreshDate}"></span>
	</div>

	<div>
		<span
			th:classappend="${dl1ControleLogsContainer.hasMissingFile ? 'suivi-migration-error' : 'suivi-migration-succes'}">
			<span>Total des fichiers de logs trouvés pour DL1 :</span>
			<span class="fw-bold" id="dl1LogsNombre"></span>
		</span>
	</div>

	<br />

	<table id="tir1-dl1-controle-fichier-logs-table" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Direction</th>
				<th scope="col">Nombre de fichiers</th>
				<th scope="col">Fichiers manquants</th>
				<th scope="col">Précisions</th>
			</tr>
		</thead>

	</table>

	<script type="text/javascript" th:inline="javascript">
		// Initialisation du JS du fragment.
		//suivi.dl1.subscriber.initSubscribe();

		const tableLogs = $('#tir1-dl1-controle-fichier-logs-table').DataTable({
			dom: "Bfrltip",
			"ajax": "/ajax/datable/controlelogs",
			"language": suivi.datatable.i18nMessages(),
			columns: [
				{ data: "code" },
				{ data: "count" },
				{ data: "missingFiles" },
				{ data: "alertsMessages" },
			],
			buttons: [
				{ extend: 'excelHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'csvHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'pdfHtml5', className: 'btn btn-secondary btn-sm' },
			],
		});
		if (window.EventSource != null) {
			const eventSource = new EventSource('/flux/reactor/changements');
			eventSource.onmessage = function (event) {
				if (!event)
					eventSource.close();
				else
					tableLogs.ajax.reload();
			};
		}
	</script>
</th:span>

</html>