<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-dl1-volumetrie-oracle (dL1TablesVolumeContainer)" id="fragment-dl1-volumetrie-oracle">

	<div class="modal fade" id="tir1-dl1-volumetrie-oracle--logs-modals" tabindex="-1"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="text-primary">
		<span>Dernier rafraichissement des données : </span>
		<span th:text="${dL1TablesVolumeContainer.refreshDate}"></span>
	</div>

	<table id="tir1-dl1-volumetrie-oracle" class="table table-striped table-bordered" style="width:100%">
	</table>

	<script type="text/javascript" th:inline="javascript">
		suivi.datatable.initVolumetrieOracleDl1Table();
	</script>
</div>

</html>