.suivi-migration-error {
	background: #fa7272;
}

.suivi-migration-succes {
	background: #a4ef99;
}

.hide {
	display: none;
}


.code__wrap {
	display: flex;
	width: 100%;
}

.code__wrap__side1 {

	width: 25%;
}

.code__wrap__side2 {
	margin: 10px;
	width: 75%;
}

.code__wrap__side_convert{
	margin: 10px;
	width: 100%;
}

.menu__item{
	cursor: pointer;
}
.btn-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
.btn-wrap button{
	cursor: pointer;
}
.btn-wrap button i{
	font-size: 1.5em;
	color: #7f8c8d;
}

.no-sort::after { display: none!important; }
.no-sort::before { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }
