<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-db2-conversion (tirId, tableLines, typeTraitement)" id="fragment-db2-conversion">

	<!--
	<table th:id="${'tir' + tirId + '-' + typeTraitement + '-table'}" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Table</th>
				<th scope="col">Nombre d'entrée calculées</th>
				<th scope="col">Nombre d'entrée lues</th>
				<th scope="col">Nombre d'entrée écrites</th>
				<th scope="col">Taille maximale d'entrée</th>
				<th scope="col">Taille maximale d'entrée (LF)</th>
				<th scope="col">Temps de conversion</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="line : ${tableLines}"
				th:classappend="${#strings.equals(line.status, 'KO') ? 'table-danger' : ''}">
				<td th:text="${line.tableName}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbRecProcessed, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbRecsRead, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbRecsWritten, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.maxInputRecLength, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.maxInputRecLengthLF, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${line.elapsedTime}"></td>
				<td th:text="${line.status}"></td>
			</tr>
		</tbody>
	</table>
-->

	<table th:id="conversionTable" class="table table-striped">
	</table>

	<script type="text/javascript" th:inline="javascript">

		// Initialisation du JS du fragment.

		/*suivi.datatable.initDataTable("#tir" + [[${ tirId }]] + '-' + [[${ typeTraitement }]] + '-table');*/

		const converTable = $('#conversionTable').DataTable({
			dom: "Bfrltip",
			"ajax": "/ajax/datable/db2ConversionTablesLines",
			columns: [
				{ data: "tableName", title: "Table"},
				{ data: "nbRecProcessed", title: "Nombre d'entrée calculées" },
				{ data: "nbRecsRead", title: "Nombre d'entrée lues" },
				{ data: "nbRecsWritten", title: "Nombre d'entrée écrites" },
				{ data: "maxInputRecLength", title: "Taille maximale d'entrée" },
				{ data: "maxInputRecLengthLF", title: "Taille maximale d'entrée (LF)" },
				{ data: "elapsedTime", title: "Temps de conversion" },
				{
					title: "Status",
					render: function (data, type, row) {
						return row.status == 'OK' ? '<span class="badge bg-success rounded-pill d-inline">OK</span>' : `<span class="badge bg-danger rounded-pill d-inline"   data-bs-toggle="tooltip" data-bs-placement="top" title="${row.alertsMessages}">KO</span>`;
					}
				},
				{
					render: function (data, type, row) {
						return `<div class="btn-wrap"><button title="Voir les logs de Conversion" style="border: none;color: #069;background: none;" onclick="suivi.db2.logs.openModal('${row.tableName}', 'conversion')" class="openModalButton "><i class="fa-regular fa-file-code"></i></button></div>`;
					}
				}
			],
			rowCallback: function (row, data, index) {
				if (data['status'] === 'KO') {
					$(row).addClass('table-danger');
				}
			},
			buttons: [
				{ extend: 'excelHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'csvHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'pdfHtml5', className: 'btn btn-secondary btn-sm' },
			],
		});

		// Ajoutez l'événement click pour les lignes cliquables
/*		$('#conversionTable tbody').on('click', 'tr', function() {
			let rowData = $('#conversionTable').DataTable().row(this).data(); // Obtenir les données de la ligne
			suivi.db2.logs.openModal(rowData.tableName);
		});*/


		if (window.EventSource != null) {
			const eventSource = new EventSource('/flux/reactor/changements');
			eventSource.onmessage = function (event) {
				converTable.ajax.reload();
			};
		}
	</script>

</div>

</html>