<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-db2-controlefichier" id="fragment-db2-controlefichier">

	<div class="text-primary">
		<span>Dernier rafraichissement des données : </span>
		<span class="refreshDate"></span>
	</div>

	<div>
		<span id="blockInfo">
			<span>Total des fichiers trouvés pour DB2 :</span>
			<span class="fw-bold count"></span>
			<span class="fw-bold"> / </span>
			<span class="fw-bold total"></span>
		</span>
	</div>

	<br />

	<table id="controlTable" class="table table-striped table-bordered" style="width: 100%;" >
	</table>

	<script type="text/javascript" th:inline="javascript">
		suivi.datatable.initControlDb2Table();
		suivi.updateDb2Infos();
	</script>


</div>

</html>