<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-db2-conversion (tirId, tableLines, typeTraitement)" id="fragment-db2-conversion">

<!--
	<table th:id="${'tir' + tirId + '-' + typeTraitement + '-table'}" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Table</th>
				<th scope="col">Nombre d'entrée calculées</th>
				<th scope="col">Nombre d'entrée lues</th>
				<th scope="col">Nombre d'entrée écrites</th>
				<th scope="col">Taille maximale d'entrée</th>
				<th scope="col">Taille maximale d'entrée (LF)</th>
				<th scope="col">Temps de conversion</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="line : ${tableLines}"
				th:classappend="${#strings.equals(line.status, 'KO') ? 'table-danger' : ''}">
				<td th:text="${line.tableName}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbRecProcessed, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbRecsRead, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbRecsWritten, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.maxInputRecLength, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.maxInputRecLengthLF, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${line.elapsedTime}"></td>
				<td th:text="${line.status}"></td>
			</tr>
		</tbody>
	</table>
-->


	<table th:id="tab0" class="table table-striped" style="width:100%">
		<thead>
		<tr>
			<th scope="col">Table</th>
			<th scope="col">Nombre d'entrée calculées</th>
			<th scope="col">Nombre d'entrée lues</th>
			<th scope="col">Nombre d'entrée écrites</th>
			<th scope="col">Taille maximale d'entrée</th>
			<th scope="col">Taille maximale d'entrée (LF)</th>
			<th scope="col">Temps de conversion</th>
			<th scope="col">Status</th>
			<th></th>
		</tr>
		</thead>
	</table>

	<script type="text/javascript" th:inline="javascript">

		// Initialisation du JS du fragment.

		suivi.datatable.initDataTable("#tir" + [[${ tirId }]] + '-' + [[${ typeTraitement }]] + '-table');
		const table = $('#tab0').DataTable( {
			dom: "Bfrltip",
			"ajax": "/ajax/datable/db2ConversionTablesLines",
			columns: [
				{   data: "tableName" },
				{   data: "nbRecProcessed" },
				{   data: "nbRecsRead" },
				{   data: "nbRecsWritten" },
				{   data: "maxInputRecLength" },
				{   data: "maxInputRecLengthLF" },
				{   data: "elapsedTime" },
				{   data: "status" },
				{	data: "tableName",
					render: function (data, type, row) {
						return '<button style="border: none;color: #069;background: none;" onclick="suivi.db2.logs.openModal(\''+data+'\')" class="openModalButton"><i class="far fa-eye"></i></button>';
					}
				}
			],
			buttons: [
				{ extend: 'excelHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'csvHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'pdfHtml5', className: 'btn btn-secondary btn-sm' },
			],
		} );

	</script>

</div>

</html>