<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-db2-chargement (tirId, tableLines, typeTraitement)" id="fragment-db2-chargement">

<!--	<table th:id="${'tir' + tirId + '-' + typeTraitement + '-table'}" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Table</th>
				<th scope="col">Nombre pré-traitement</th>
				<th scope="col">Nombre post-traitement</th>
				<th scope="col">Temps de chargement</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="line : ${tableLines}"
				th:classappend="${#strings.equals(line.status, 'KO') ? 'table-danger' : ''}">
				<td th:text="${line.table}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbPreTraitement, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(line.nbPostTraitement, 0, 'WHITESPACE', 0, 'COMMA')}"></td>
				<td th:text="${line.elapsedTime}"></td>
				<td th:text="${line.status}"></td>
			</tr>
		</tbody>
	</table>-->


	<table th:id="loadTable" class="table table-striped table-bordered" style="width: 100%;">
	</table>

	<script type="text/javascript" th:inline="javascript">
		// Initialisation du JS du fragment.

		/*suivi.datatable.initDataTable("#tir" + [[${ tirId }]] + '-' + [[${ typeTraitement }]] + '-table');*/

		const loadTable = $('#loadTable').DataTable({
			dom: "Bfrltip",
			"ajax": "/ajax/datable/db2LoadTable",
			"language": suivi.datatable.i18nMessages(),
			columns: [
				{ data: "table", title: "Table"},
				{ data: "nbPreTraitement", title: "Nombre pré-traitement" },
				{ data: "nbPostTraitement", title: "Nombre post-traitement" },
				{ data: "elapsedTime", title: "Temps de chargement" },
				{
					title: "Status",
					render: function (data, type, row) {
						return row.status === 'OK' ? '<span class="badge bg-success rounded-pill d-inline">OK</span>' : `<span class="badge bg-danger rounded-pill d-inline">KO</span>`;
					}
				},
				{
					render: function (data, type, row) {
						return `<div class="btn-wrap"><button title="Voir les logs de Conversion" style="border: none;color: #069;background: none;" onclick="suivi.db2.logs.openModal('${row.table}', 'load')" class="openModalButton"><i class="fa-regular fa-file-code"></i></button></div>`;
					}
				}
			],
			rowCallback: function (row, data, index) {
				if (data['status'] === 'KO') {
					$(row).addClass('table-danger');
				}
			},
			buttons: [
				{ extend: 'excelHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'csvHtml5', className: 'btn btn-secondary btn-sm' },
				{ extend: 'pdfHtml5', className: 'btn btn-secondary btn-sm' },
			],
		});


		if (window.EventSource != null) {
			const eventSource = new EventSource('/flux/reactor/changements');
			eventSource.onmessage = function (event) {
				loadTable.ajax.reload();
			};
		}

	</script>

</div>

</html>