<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/layout/head :: head}"></head>
<body>

	<header th:replace="~{/fragments/layout/header :: header('detailDB2')}"></header>

	<div class="container-fluid" id="content-container">
		<div class="row">

			<nav th:replace="~{/fragments/layout/sidebar :: sidebar('detailDB2')}"></nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 pt-4" style="margin-top: 50px" th:each="tir :${tirList.tirs}">

				<div th:replace="~{/fragments/tables/errors :: errors(${tirList})}"></div>

				<div>
					<div th:replace="~{/fragments/layout/body-db2 :: body-db2(${tir})}"></div>
				</div>
			</main>
		</div>
	</div>

	<footer th:replace="~{/fragments/layout/footer :: footer}"></footer>
	
	<script type="text/javascript" th:inline="javascript">
	// Initialisation du JS du fragment.

	</script>

</body>
</html>