<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/layout/head :: head}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page en construction</title>
</head>
<header th:replace="~{/fragments/layout/header :: header('detailFichierPermanent')}"></header>
<body style="background-color: #f1f1f1!important">
  <div style="margin-top: 150px;text-align: center;">
    <h4 class="message">Cette page est en construction , revenez bientôt !</h4>
  </div>
</body>
</html>
