<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/layout/head :: head}">
</head>

<body>
<div class="t__container">
  <nav th:replace="~{/fragments/layout/sidebar :: sidebar('synthese')}"></nav>
  <!-- ========================= Main ==================== -->
  <div class="main">
    <header th:replace="~{/fragments/layout/header :: header('detailDL1')}"></header>
    <!-- ======================= Cards ================== -->
    <div class="cardBox">

      <div class="t__card">
        <div>
          <div class="numbers">84</div>
          <div class="cardName">Cadre cible</div>
        </div>

        <div class="iconBx">
          <i class="fa-solid fa-hashtag"></i>
        </div>
      </div>

      <div class="t__card">
        <div>
          <div class="numbers">80</div>
          <div class="cardName">DL1</div>
        </div>

        <div class="iconBx">
          <i class="fa-solid fa-hashtag"></i>
        </div>
      </div>

      <div class="t__card">
        <div>
          <div class="numbers">284</div>
          <div class="cardName">DB2</div>
        </div>

        <div class="iconBx">
          <i class="fa-solid fa-hashtag"></i>
        </div>
      </div>

      <div class="t__card">
        <div>
          <div class="numbers"> 42</div>
          <div class="cardName">Autres</div>
        </div>

        <div class="iconBx">
          <i class="fa-solid fa-hashtag"></i>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="wrap__table">
        <div class="cardHeader">
          <h2>DR du cadre cible</h2>
        </div>
        <table th:id="${'tir' + tirSynthesis.id + '-synthese-table'}" class="table table-striped" style="width: 100%">
          <thead>
          <tr>
            <th scope="col">Direction</th>
            <th scope="col">Libellé</th>
            <th scope="col">Statut</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="drSynthesis :${tirSynthesis.directionSynthesis}"
              th:classappend="${drSynthesis.status.name() == 'KO' ? 'table-danger' : ''}"
              th:if="${drSynthesis.direction.code == 'DR32' || drSynthesis.direction.code == 'DR65'}">
            <td th:text=${drSynthesis.direction.code}></td>
            <td th:text=${drSynthesis.direction.libelle}></td>
            <td th:text=${drSynthesis.status}></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="wrap__table">
        <div class="cardHeader">
          <h2>DR autre cadre</h2>
        </div>
        <table th:id="${'tir' + tirSynthesis.id + '-synthese-table-avenir'}" class="table table-striped"
               style="width: 100%">
          <thead>
          <tr>
            <th scope="col">Direction</th>
            <th scope="col">Libellé</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="drSynthesis :${tirSynthesis.directionSynthesis}"
              th:unless="${drSynthesis.direction.code == 'DR32' || drSynthesis.direction.code == 'DR65'}">
            <td th:text="${drSynthesis.direction.code}"></td>
            <td th:text="${drSynthesis.direction.libelle}"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<script>
  suivi.datatable.initDataTable("#tir" + [[${ tirSynthesis.id }]] + '-synthese-table');
  suivi.datatable.initDataTable("#tir" + [[${ tirSynthesis.id }]] + '-synthese-table-avenir');
  // Remplacez 0, 1 et 2 par les étapes réelles pour mettre a jours l'icone
  const currentstepProgression = 1;
  const stepProgressions = document.getElementsByClassName('progression-bar__stepProgression');

  for (let i = 0; i < stepProgressions.length; i++) {
    const stepProgressionIcon = stepProgressions[i].querySelector('.stepProgression-icon');

    if (i < currentstepProgression) {
      stepProgressions[i].classList.add('completed');
      stepProgressionIcon.innerHTML = '&#10003;';
    } else if (i === currentstepProgression) {
      stepProgressions[i].classList.add('current');
      stepProgressionIcon.innerHTML = '&#9679;';
    }
  }
</script>

</body>

</html>