<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="body-dl1 (tir)" id="tir1-body-dl1" class="container-md">

	<script th:src="@{/js/subscribers/dl1controlefile/dl1subscriber.js}"></script>
	<script th:src="@{/js/dl1/dl1.js}"></script>
	
	<!-- Fenêtres modales. -->
	<div th:replace="~{/fragments/DL1/fragment-dl1-volumetrie-logs :: fragment-dl1-volumetrie-logs}"></div>

	<h1 th:text="${'Tir ' + tir.id + ' - DL1'}"></h1>

	<h4 id="tir1-dl1-controle-fichier-heading">Contrôle des fichiers</h4>
	<div th:replace="~{/fragments/DL1/fragment-dl1-controlefichier :: fragment-dl1-controlefichier(${tir.dl1ControleFilesContainer})}">Contrôle des fichiers</div>
	<div class="border-top my-3"></div>
	
	<h4 id="tir1-dl1-controle-fichier-heading">Contrôle des fichiers de logs</h4>
	<div th:replace="~{/fragments/DL1/fragment-dl1-controlelogs :: fragment-dl1-controlelogs(${tir.dl1ControleLogsContainer})}">Contrôle des logs</div>
	<div class="border-top my-3"></div>
	
	<h4 id="tir1-db2-total-stats-heading">Statistiques volumétriques</h4>
	<div th:replace="~{/fragments/DL1/fragment-dl1-volumetrie-oracle :: fragment-dl1-volumetrie-oracle(${tir.dL1TablesVolumeContainer})}">Volumétrie Oracle</div>
	<div class="border-top my-3"></div>
	
	<div th:replace="~{/fragments/DL1/fragment-dl1-volumetrie :: fragment-dl1-volumetrie(${tir.dl1TablesDetailsContainer})}">Volumétrie</div>
	<div class="border-top my-3"></div>
	
	
</div>

</html>