<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header (active)" id="header2" class="topbar sticky-top">
    <script th:src="@{/js/common/subscriberEnabler.js}"></script>
    <div class="toggle">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="progression-bar-container">
        <div class="progression-bar">
            <div class="progression-bar__stepProgression completed">
                <div class="stepProgression-icon completed"><i class="fa-solid fa-circle-check"></i></div>
                <span>Étape 1 - Terminée</span>
            </div>
            <div class="progression-bar__stepProgression current">
                <div class="stepProgression-icon"><i class="fa-solid fa-hourglass-half"></i></div>
                <span>Étape 2 - En cours</span>
            </div>
            <div class="progression-bar__stepProgression">
                <div class="stepProgression-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                <span>Étape 3 - À venir</span>
            </div>
        </div>
    </div>
    <div class="environement">
        <span class="text-end" th:if="${cible} == 'CadreQ'">Cadre Q</span>
        <span class="text-end" th:if="${cible} == 'CadreR'">Cadre R</span>
        <span class="text-end" th:if="${cible} == 'Prod'">Prod</span><br>
        <span class="text-end" th:text="${versionOutil}" style="padding-left: 8px;"></span>
    </div>
    <script>
        $(".toggle").click(function(){
            const navigation  = document.querySelector(".t__navigation");
            const main  = document.querySelector(".main");
            navigation.classList.toggle("t__active");
            main.classList.toggle("t__active");
        })
    </script>
</header>

</html>