<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:span th:fragment="sidebar (active)" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

	<div class="position-sticky pt-3" style="top: 75px;">
		<ul class="nav flex-column">
		
			<li class="mb-1" th:each="tir : ${tirList.tirs}">
				<button class="btn btn-toggle align-items-center rounded fs-2"
					data-bs-toggle="collapse" th:data-bs-target="${'#tir' + tir.id}"
					aria-expanded="true" th:text="${'Tir ' + tir.id}"></button>
				<div class="collapse show" th:id="${'tir'  + tir.id}">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li th:if="${active == 'detailDL1'}">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li><a th:href="${'#tir' + tir.id + '-dl1-controle-fichier-heading'}" class="ms-5" ><button data-bs-toggle="collapse" class="btn btn-sm fw-light">Contrôle des fichiers</button></a></li>
								<li><a href="#fragment-dl1-volumetrie-oracle" class="ms-5" ><button data-bs-toggle="collapse" class="btn btn-sm fw-light">Volumétrie</button></a></li>
							</ul>
						</li>
						<li th:if="${active == 'detailDB2'}">
							<ul class="list-unstyled fw-normal pb-1 small">
								<li><a th:href="${'#tir' + tir.id + '-db2-controle-fichier-heading'}" class="link-dark rounded prevent-default ms-5" ><button data-bs-toggle="collapse" class="btn btn-sm fw-light">Contrôle des fichiers</button></a></li>
								<li><a th:href="${'#tir' + tir.id + '-db2-qualification-heading'}" class="link-dark rounded prevent-default ms-5" ><button data-bs-toggle="collapse" class="btn btn-sm fw-light">Qualification</button></a></li>
								<li><a th:href="${'#tir' + tir.id + '-db2-conversion-heading'}" class="link-dark rounded prevent-default ms-5" ><button data-bs-toggle="collapse" class="btn btn-sm fw-light">Conversion</button></a></li>
								<li><a th:href="${'#tir' + tir.id + '-db2-chargement-heading'}" class="link-dark rounded prevent-default ms-5" ><button data-bs-toggle="collapse" class="btn btn-sm fw-light">Chargement</button></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>